.cell {
  background-color: black;
  border: 0.3rem solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jerry {
  background: url("\jerry.png") center;
  background-size: 12rem 12rem;
}

.Tom {
  background: url("\tom.jpg") center;
  background-size: 12rem 12rem;
}
